body {
	margin: 0;
}
* {
    box-sizing: border-box;
}
h1 {
	font-size: 100px;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	text-align: center;
}
.jumbotron {
	margin: 10px;
	height: 50vh;
	color: #fff;
	background-color: #757575;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallery {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	}
